<!doctype html>
<!Create by ansible template at {{ ansible_date_time.iso8601 }}>
<html>
  <head>
    <title>Nginx Web Server</title>
  </head>
  <body>
    <p><font color=pink size=5>Welcome to Ansible world!</font></p>
    <p><font size=5>Here is Nginx Cluster <font color=red>{{ idx }}</font>/{{ nu }}</font></p>
  </body>
</html>